<template>
  <div
      class="chatList"
      :class="{
        'openedChat': !!currentChatId
      }"
  >
    <Field
        label="Search user..."
        type="text"
        v-model="searchString"
        @input="onSearch"
    />

    <template v-if="!searchString">
      <ChatCardMini
          v-for="chat in userChats"
          :id="chat._id"
          :title="$store.getters['chats/chatName'](chat._id)"
          :key="chat._id"
          :selected="currentChatId === chat._id"
          :description="chat.messages.length > 0 ? chat.messages[chat.messages.length-1].content : ''"
          :newMsg="chat.messages.some(msg => msg.status === 'unread')"
          @click="onOpenChat(chat._id)"
      />
    </template>

    <template v-if="searchString">
      <template v-if="searchUsers">
        <span>users:</span>
        <ChatCardMini
            v-for="user in searchUsers"
            :id="user._id"
            :title="user.login"
            :key="user._id"
            @click="onOpenUser(user)"
        />
      </template>
      <template v-if="searchChats">
        <span>chats:</span>
        <ChatCardMini
            :id="chat._id"
            v-for="chat in searchChats"
            :title="chat.login"
            :key="chat._id"
            @click="onOpenChat(chat._id)"
        />
      </template>
    </template>
  </div>
</template>
<script>
import ChatCardMini from "@/components/chat/ChatCardMini";
import {mapGetters} from "vuex";
import Field from "@/components/ui/Field";
import UserAPI from "@/api/user.api"

export default {
  components: {Field, ChatCardMini},
  data() {
    return {
      searchString: '',
      searchChats: null,
      searchUsers: null,
    }
  },
  computed: {
    currentChatId: function () { return this.$store.state.chats.currentChat },
    ...mapGetters({
      'userChats':'chats/chatList',
    })
  },
  mounted() {
  },
  methods: {
    async onSearch() {
      if (this.searchString.length === 0) return

      this.searchUsers = (await UserAPI.search(this.searchString));
    },
    onOpenChat(id) {
      this.$store.dispatch('chats/selectChat', id);
    },
    onOpenUser(user) {
      this.$store.dispatch('chats/selectUser', user);
      this.searchString = '';
    }
  }
}
</script>

<style lang="scss">
.chatList {
  background-color: lightblue;
  padding-top: 110px;
  &>.field {
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 5px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 280px;
    background-color: lightblue;
    span {
      color: black;
    }
  }
}

@media (max-width: 768px) {
  .chatList {
    &.openedChat {
      display: none;
    }
  }
}
</style>
