<template>
  <div class="chatCardMini row"
       :class="{
          selected: selected
       }"
       @click.right.prevent="onRightClick">
    <div class="image">
      <img :src="image">
    </div>
    <div class="column">
      <div class="title">{{ title }}</div>
      <div class="description">{{ description.length > 15 ? description.slice(0, 15)+'...' : description }}</div>
    </div>
    <div
        class="newMsg"
        v-if="newMsg">
    </div>
    <Dropdown
        v-model="dropDownShown"
        :posX="dropDownX"
        :posY="dropDownY"
    >
      <button @click.left.stop.prevent="onChatDelete">delete</button>
    </Dropdown>
  </div>
</template>

<script>
import Dropdown from "@/components/ui/Dropdown";

export default {
  name: "ChatCardMini",
  components: {
    Dropdown,
  },
  props: {
    id: {
      type: String,
      required: false
    },
    title: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      default: 'https://autotestframework.github.io/Milestones_Repo/img/use2.png'
    },
    description: {
      type: String,
      default: ''
    },
    selected: {
      type: Boolean,
      default: false,
    },
    newMsg: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      dropDownShown: false,
      dropDownX: 0,
      dropDownY: 0,
    }
  },
  methods: {
    onRightClick(e) {
      const chat = this.$store.getters['chats/chatById'](this.id) || this.$store.getters['chats/dialogByUserId'](this.id);

      // if chat not exist exit, because u can only start new conversation if u click on the card
      if (!chat) return;

      this.chatId = chat._id;

      this.dropDownShown = !this.dropDownShown;
      this.dropDownX = e.layerX;
      this.dropDownY = e.layerY;
      // this.mouseY = 9999;
    },
    onChatDelete() {
      this.$store.dispatch('chats/deleteChat', this.chatId)
    },
  }
}
</script>

<style lang="scss">
.chatCardMini {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  &.selected {
    background-color: #fff;
  }
  .title {
    font-weight: bold;
    padding-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
  .column {
    padding-left: 10px;
    max-width: 75%;
  }
  .image {
    width: 50px;
    height: 50px;
    img {
      max-width: 100%;
    }
  }
  .newMsg {
    margin: auto;
    margin-right: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: deepskyblue;
  }
}
</style>
