<template>
  <div class="messages column">
    <Message
        v-for="msg in currentChat.messages"
        :key="msg._id"
        :message="msg"
    />
  </div>
</template>

<script>
import Message from "@/components/chat/Message";
import {mapGetters} from "vuex";
export default {
  name: "Messages",
  components: {Message},
  computed: {
    ...mapGetters({
      currentChat: 'chats/currentChat'
    })
  },
  methods: {
    scrollToBottom() {
      const container = this.$el;
      container.scrollTop = container.scrollHeight;
    }
  },
  updated() {
    this.scrollToBottom();
  },
  mounted() {
    this.scrollToBottom();
  }
}
</script>

<style scoped>

</style>