<template>
  <div class="messageInput row">
    <RepliedPart v-if="repliedMessage"/>
    <EditedPart v-if="editedMessage"/>
    <input
        ref="textInput"
        type="text"
        placeholder="Type message..."
        v-model="value"
        @keydown.enter="sendMessage(value)"
        @keydown.up.prevent="editLastMessage"
    >
  </div>
</template>

<script>

import {mapState} from "vuex";
import RepliedPart from "@/components/chat/messageInput/RepliedPart";
import EditedPart from "@/components/chat/messageInput/EditedPart";

export default {
  name: "MessageInput",
  components: {EditedPart, RepliedPart},
  data: function () {
    return {
      localValue: ''
    }
  },
  mounted() {
    this.$store.commit('chats/setInputTextRef', this.$refs.textInput)
  },
  methods: {
    sendMessage(val) {
      if (!val.length) return;
      if (this.editedMessage) {
        this.$store.dispatch('chats/saveEdited', val);
        this.value = '';
        return;
      }
      this.$store.dispatch('chats/sendMessage', {
        chatId: this.currentChatId,
        type: 'text',
        content: val,
        status: 'loading',
        replied: this.repliedMessage
      })
      this.value = '';
      this.$store.commit('chats/setReplied', '');
    },
    editLastMessage() {
      this.$store.dispatch('chats/setLastEdited');
    }
  },
  computed: {
    currentChatId: function () { return this.$store.state.chats.currentChat },
    value: {
      get() {
        return this.$store.state.chats.inputText
      },
      set(val) {
        this.$store.commit('chats/setInputText', val)
      }
    },
    ...mapState({
      repliedMessage: state => state.chats.replied,
      editedMessage: state => state.chats.edited,
    }),
  }
}
</script>

<style lang="scss">
.messageInput {
  padding: 0px 20px;
  background-color: #fff;
  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
</style>
