<template>
  <div
      class="message column"
      :class="{
        'selected': selected,
        'own': isOwner,
        [message.status]: true,
      }"
      @click.right.prevent="onRightClick"
      @mousemove="onMouseMove"
  >
    <RepliedPart v-if="message.replied" :messageId="message.replied"/>
    <div class="sender">{{ $store.getters['users/getUserName'](message.sender) }}</div>
    <div class="content">{{ message.content }}</div>
    <Dropdown
        v-model="dropDownShown"
        :posX="dropDownX"
        :posY="dropDownY"
    >
      <button @click="onMessageReply">reply</button>
      <button v-if="isOwner" @click="onMessageEdit">edit</button>
      <button v-if="isOwner" @click="onMessageDelete">delete</button>
    </Dropdown>
  </div>
</template>

<script>
import Dropdown from "@/components/ui/Dropdown";
import RepliedPart from "@/components/chat/message/RepliedPart";
import tools from "@/plugins/tools";
export default {
  name: "Message",
  components: {RepliedPart, Dropdown},
  props: ['message'],
  data: function () {
    return {
      dropDownShown: false,
      dropDownX: 0,
      dropDownY: 0,
      selected: false,
      intervalForUnreadMessage: 0,
    }
  },
  methods: {
    onRightClick(e) {
      this.dropDownShown = !this.dropDownShown;
      this.dropDownX = e.layerX;
      this.dropDownY = e.layerY;
      // this.mouseY = 9999;
    },
    onMessageReply() {
      this.$store.dispatch('chats/setReplied', this.message._id)
    },
    onMessageEdit() {
      this.$store.dispatch('chats/setEdited', this.message._id)
    },
    onMessageDelete() {
      this.$store.dispatch('chats/deleteMessage', this.message._id)
    },
    onMouseMove() {
      // todo: message selection
      // if (e.buttons === 1) {
      //   if (e.pageY !== this.mouseY) {
      //     this.selected = true;
      //   }
      //   this.mouseY = e.pageY;
      // }
    }
  },
  computed: {
    currentUserId: function () {return this.$store.state.users.currentUser},
    isOwner: function () {return this.message.sender === this.currentUserId},
  },
  mounted() {
    if (this.message.status === 'unread' && this.message.sender !== this.currentUserId) {
      this.intervalForUnreadMessage = setInterval(() => {
        console.log('interval work');
        console.log(tools.focus);
        if (tools.focus) {
          this.$store.dispatch('chats/readMessage', this.message._id);
          clearInterval(this.intervalForUnreadMessage)
        }
      }, 500)
    }
  }
}
</script>

<style lang="scss">
.message {
  position: relative;
  align-self: flex-start;
  margin: 10px 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px;
  min-width: 200px;
  background-color: #fff;
  &.own {
    text-align: right;
    align-self: flex-end;
  }
  &.selected {
    background-color: lightblue;
  }
  &.loading {
    background-color: red;
  }
  &.unread {
    background-color: rgba(0,0,0,0.05);
  }
  &>.sender {
    font-weight: bold;
  }
}
</style>
