<template>
  <div v-if="message" class="repliedPart" @click="goToMessage">
    <div class="sender">{{ $store.getters['users/getUserName'](message.sender) }}</div>
    <div class="content">{{message.content}}</div>
  </div>
</template>

<script>
export default {
  name: "RepliedPart",
  props: ['messageId'],
  computed: {
    message: {
      get() {
        let candidate = this.$store.getters['chats/messageById'](this.messageId);
        return candidate;
      }
    }
  },
  methods: {
    goToMessage() {
      this.$store.dispatch('chats/goToMessage', this.messageId)
    },
  }
}
</script>

<style lang="scss">
.repliedPart {
  text-align: left;
  border-left: 4px solid lightblue;
  padding-left: 10px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  .sender {
    color: cornflowerblue;
    font-weight: bold;
  }
  .content {

  }
}
</style>