<template>
  <div class="auth">
    <h1>Auth</h1>
    <AuthForm/>
    <div class="column">
      <Button
          @click="window.location.href = apiUrl+'/auth/google-auth'"
          class="google-auth"
          value="Authenticate by GOOGLE"
          color="lightgray"
      />
    </div>
  </div>
</template>

<script>
import AuthForm from "@/components/AuthForm";
import Button from "@/components/ui/Button";
export default {
  components: {AuthForm, Button},
  data: () => {
    return {
      apiUrl: process.env.VUE_APP_API_URL,
      window
    }
  }
}
</script>

<style lang="scss">
.google-auth {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
