<template>
  <div class="chat column">
    <h1>Chat</h1>
    <div class="row" v-if="inited">
      <ChatList/>
      <div class="column" v-if="currentChat">
        <h2 class="row desktop">
          <span class="closeChat">
            <ArrowIcon direction="left" @click="close()"/>
          </span>
          <span>{{currentChatName}}</span>
        </h2>
        <h2 class="row mobile" @click="close()">
          <span class="closeChat">
            <ArrowIcon direction="left"/>
          </span>
          <span>{{currentChatName}}</span>
        </h2>
        <Messages/>
        <MessageInput/>
      </div>
    </div>
  </div>
</template>

<script>
import ChatList from "@/components/chat/ChatList";
import Messages from "@/components/chat/Messages";
import MessageInput from "@/components/chat/MessageInput";
import {mapGetters} from "vuex";
import close from "@/mixins/close";
import ArrowIcon from "@/components/ui/icons/ArrowIcon";
export default {
  components: {ArrowIcon, MessageInput, Messages, ChatList},
  mixins: [close],
  computed: {
    ...mapGetters({
      currentChat: 'chats/currentChat',
      currentChatName: 'chats/currentChatName',
      inited: 'auth/inited'
    })
  },
  methods: {
    close() {
      this.$store.dispatch('chats/setCurrentChat', null)
    },
  }
}
</script>

<style lang="scss">
.chat {
  flex-grow: 1;
  word-break: break-word;
  h2 {
    &.mobile {
      display: none;
      cursor: pointer;
    }
    .closeChat {
      padding-left: 20px;
    }
    span {
      padding-left: 10px;
    }
  }
  &>.row {
    flex-grow: 1;
    flex-wrap: nowrap;
    max-height: 63vh;
    position: relative;
    &>.column {
      flex-grow: 1;
      background-color: lightcyan;
      .messages {
        flex-grow: 1;
        max-height: 100%;
        overflow-y: auto;
        flex-basis: calc(100% - 300px);
      }
    }
    .chatList {
      flex-basis: 300px;
      min-width: 300px;
      max-height: 100%;
      overflow: auto;
    }
  }
}

@media (max-width: 768px) {
  .chat {
    h2 {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: flex;
      }
    }
    &>.row {
      max-height: 70vh;
      .chatList {
        flex-grow: 1;
      }
    }
  }
}
</style>
