<template>
  <div class="settings column">
    <UserInfo :user="currentUser" v-if="currentUser"/>
    <Button color="lightgray" value="Logout" @click="logout"/>
  </div>
</template>
<script>
import Button from "@/components/ui/Button";
import {mapGetters} from "vuex";
import UserInfo from "@/components/settings/UserInfo";

export default {
  components: {UserInfo, Button},
  computed: {
    ...mapGetters({
      currentUser: 'users/currentUser'
    })
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout');
    }
  }
}
</script>

<style>
.settings {
  padding: 20px;
  align-items: center;
}
</style>
