<template>
  <div class="welcome">
    <h1>welcome</h1>
    <div class="get-app" v-if="!isElectron">
      You can download <a href="#">app</a>.
    </div>
  </div>
</template>

<script>
import {Electron} from '@/plugins/electron'

export default {
  name: "Welcome",
  computed: {
    isElectron: function () {
      return Electron.isElectron()
    }
  }
}
</script>

<style lang="scss">
.welcome {
  margin: auto;
  h1 {
    font-size: 7em;
  }
}

@media (max-width: 768px) {
  .welcome {
    h1 {
      font-size: 4em;
    }
    .get-app {
      margin: 0 auto;
      text-align: center;
    }
  }
}
</style>
