<template>
  <div class="auth-form">
    <form
        class="column"
        :class="{'loading': loading}"
    >
      <Field
          label="Login"
          v-model="login"
          type="text"
      />
      <Field
          label="Password"
          v-model="password"
          type="password"
      />
      <Button value="Submit" @click="onSubmit"/>
    </form>
    <div class="response">
      {{response}}
    </div>
  </div>
</template>

<script>
import Field from '../components/ui/Field'
import Button from "@/components/ui/Button";
export default {
  components: {Button, Field},
  data() {
    return {
      login: '',
      password: '',

      response: '',
      loading: false,
    }
  },
  methods: {
    async onSubmit() {
      this.loading = true;
      await this.$store.dispatch('auth/signIn', {
        login: this.login,
        password: this.password
      });
      this.loading = false;
    },
    checkEmail() {

    },
  }
}
</script>

<style lang="scss">
.auth-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.4);
  padding: 10px;
  transition: .3s;
  form {
    &.loading {
      opacity: 0.3;
      pointer-events: none;
    }
  }
  .button {
    align-self: flex-end;
  }
  .response {
    color: #fff;
  }
}
</style>