<template>
  <div class="edited">
    <div class="row">
      <div class="column">
        <div class="sender">Edit:</div>
        <div class="content">{{editedMessage.content}}</div>
      </div>
      <div @click="removeEdited" class="cross">
        X
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "EditedPart",
  computed: {
    ...mapGetters({
      editedMessage: 'chats/editedMessage',
    })
  },
  methods: {
    removeEdited() {
      this.$store.commit('chats/setEdited', '');
      this.$store.commit('chats/setInputText', '');
    }
  }
}
</script>

<style lang="scss">
.messageInput {
  .edited {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    .sender {
      font-weight: bold;
      color: cornflowerblue;
    }
    .content {
    }
    .cross {
      cursor: pointer;
      font-size: 32px;
      color: rgba(0,0,0,0.6);
      margin-right: 20px;
      margin-left: 20px;
    }
    .row {
      justify-content: space-between;
      width: 100%;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
}
</style>
