<template>
  <div class="replied">
    <div class="row">
      <div class="column" @click="goToMessage">
        <div class="sender">{{$store.getters['users/getUserName'](repliedMessage.sender)}}</div>
        <div class="content">{{repliedMessage.content}}</div>
      </div>
      <div @click="removeReplied" class="cross">
        X
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "RepliedPart",
  computed: {
    ...mapGetters({
      repliedMessage: 'chats/repliedMessage',
    })
  },
  methods: {
    removeReplied() {
      this.$store.commit('chats/setReplied', '');
    },
    goToMessage() {
      this.$store.dispatch('chats/goToMessage', this.messageId)
    }
  }
}
</script>

<style lang="scss">
.messageInput {
  .replied {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    .sender {
      font-weight: bold;
      color: cornflowerblue;
    }
    .cross {
      cursor: pointer;
      font-size: 32px;
      color: rgba(0,0,0,0.6);
      margin-right: 20px;
      margin-left: 20px;
    }
    .row {
      justify-content: space-between;
      width: 100%;
      align-items: center;
      flex-wrap: nowrap;
      .column {

      }
    }
  }
}
</style>