<template>
  <Header/>
  <main>
    <router-view/>
  </main>
  <Footer/>
</template>

<script>
import Header from "@/views/layouts/Header";
import Footer from "@/views/layouts/Footer";
export default {
  components: {Footer, Header},
}
</script>

<style>
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#app {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 6em;
  text-align: center;
  text-transform: lowercase;
  margin-top: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  #app {
    font-size: 12px;
  }
  h1 {
    font-size: 3em;
  }
}
</style>