<template>
  <footer>
    <hr>
    <p>
      copyright ©
      <a
          target="_blank"
          href="https://ddrigass.com">
        ddrigass
      </a>
    </p>
  </footer>
</template>

<style lang="scss">
footer {
  text-align: center;
  font-size: 1.3em;
  a {
    text-decoration: none;
    color: #000;
  }
}
</style>