<template>
  <div class="header">
    <nav>
      <router-link to="/">Welcome</router-link>
      <router-link v-if="!authed" to="/auth">Auth</router-link>
      <router-link v-if="authed" to="/chat">Chat</router-link>
      <router-link v-if="authed" to="/settings">Settings</router-link>
    </nav>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  computed: {
    ...mapGetters({
      authed:'auth/authed'
    })
  }
}
</script>

<style lang="scss">
.header {
  nav {
    display: flex;
    justify-content: center;
    a {
      color: #242424;
      padding: 10px;
      margin: 10px;
      text-decoration: none;
      font-size: 1.5em;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #242424;
        transition: width .3s;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
      &.router-link-active {
        &:before {
          width: 100%;
        }
      }
    }
  }
}
</style>