<template>
  <div class="userInfo" v-if="localUser">
    <div class="title row">
      <span><UserIcon/> User: {{ user.login }}</span>
      <Button color="lightgray"
              v-if="user.accountOwner"
              :value="!editProfile ? 'Edit' : 'Save'"
              @click="editProfile = !editProfile"/>
    </div>
    <div class="main row">
      <div class="image">
        <img :src="user?.options?.image || 'https://autotestframework.github.io/Milestones_Repo/img/use2.png'" alt="">
      </div>
      <div class="info">
        <Field label="Login:"
               :model-value="localUser.login"
               :disabled="!editProfile"
               color="black"/>
        <Field label="Password"
               :model-value="localUser.password"
               :disabled="!editProfile"
               color="black"/>
      </div>
    </div>
  </div>
</template>

<script>
import Button from "@/components/ui/Button";
import UserIcon from "@/components/ui/icons/UserIcon";
import Field from "@/components/ui/Field";
export default {
  name: "UserInfo",
  components: {Field, UserIcon, Button},
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      localUser: null,
      editProfile: false,
    }
  },
  mounted() {
    this.localUser = this.user;
  }
}
</script>

<style lang="scss">
.userInfo {
  width: 100%;
  max-width: 700px;
  background-color: #f4f4f4;
  overflow: hidden;
  margin-bottom: 20px;
  .title {
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: #fff;
    span {
      font-size: 24px;
      flex-grow: 1;
    }
  }
  .main {
    .image {
      max-width: 200px;
      margin-left: 30px;
      margin-bottom: 25px;
      img {
        max-width: 100%;
      }
    }
    .info {
      padding: 0 10px 10px;

    }
  }
}
</style>
