<template>
  <div
      class="button"
      :style="{
        'background-color': color
      }"
  >{{value}}</div>
</template>

<script>
export default {
  props: {
    value: {
      required: false,
    },
    color: {
      required: false,
      default: 'white'
    }
  }
}
</script>

<style lang="scss">
.button {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  font-size: 1.3em;
  transition: transform .3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
</style>