<template>
  <div
      class="dropdown column"
      :style="{ left: posX+'px', top: posY+'px' }"
  >
    <slot v-if="modelValue"></slot>
  </div>
</template>

<script>
export default {
  name: "Dropdown",
  props: {
    modelValue: {
      type: Boolean,
      default: false,
    },
    posX: {
      type: Number,
      default: 10,
    },
    posY: {
      type: Number,
      default: 10,
    }
  },
  methods: {
    close() {
      this.$emit('update:modelValue', false)
    }
  },
  mounted () {
    document.addEventListener('click', this.close)
  },
  beforeUnmount () {
    document.removeEventListener('click',this.close)
  }
}
</script>

<style>
.dropdown {
  z-index: 5;
  position: absolute;
}
</style>