<template>
  <div class="field column">
    <span :style="{
      color: color
    }">{{ label }}</span>
    <input
        :type="type"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        :disabled="disabled"
        :style="{
          border: `1px solid ${color}`
        }">
  </div>
</template>

<script>
export default {
  props: {
    label: {},
    modelValue: {},
    type: {},
    disabled: {
      type: Boolean,
      default: false
    },
    color: {
      default: 'white'
    },
  },
}
</script>

<style lang="scss">
.field {
  margin-bottom: 1em;
  span {
    font-size: 2em;
    margin-bottom: .3em;
    color: #fff;
  }
  input {
    border: none;
    font-size: 1.3em;
    padding: 10px;
    outline: none;
    background-color: #fff;
  }
}
</style>
